body {
    background-color: rgb(97, 97, 97);
}

table{
    table-layout: fixed;
    border: 1px solid;
    width:100%
}

h1 {
    color: rgb(187,255,0)
}

.error {
    box-shadow:0 0 10px rgb(187, 255, 0);
}

.active {
    display: flex !important;
}

.popupbg {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}